<!DOCTYPE html>
<html lang="pl">
<head>
    <title>TODO List | {% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}?v={{ date().timestamp }}" media="all">
    {% endblock %}
    {% block js_top %}
        <script src="{{ asset('assets/js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ asset('assets/js/popper.min.js') }}"></script>
    {% endblock %}
</head>
<body>
{% block header %}
    {% include('home/header.html.twig')  %}
{% endblock %}
<div class="container">
    <div class="row">
        <div class="col pt-5">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>

<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
</div>

{% block javascripts %}
    <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
    <script>
        $('.dropdown-toggle').dropdown();
    </script>
{% endblock %}
</body>
</html>
